<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow access to these directories and specific files
    # RewriteCond %{REQUEST_URI} ^/media/.* [OR]
    RewriteCond %{REQUEST_URI} ^/dist/.* [OR]
    RewriteCond %{REQUEST_URI} ^/public/.* [OR]
    RewriteCond %{REQUEST_URI} ^/backup/.* [OR]
    RewriteCond %{REQUEST_URI} ^/favicon\.ico [OR]
    RewriteCond %{REQUEST_URI} ^/robots\.txt [OR]
    RewriteCond %{REQUEST_URI} ^/manifest\.webmanifest
    # If any of the above conditions are met, do nothing and exit
    RewriteRule ^ - [L]

    RewriteRule ^.*$ index.php [L]
</IfModule>

<FilesMatch "\.(?i:gif|jpe?g|png|ico|css|js|swf)$">
    <IfModule mod_headers.c>
        Header set Cache-Control "max-age=172800, public, must-revalidate"
    </IfModule>
</FilesMatch>

# Prevent file browsing
Options -Indexes -MultiViews
