<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(src|.vscode|node_modules|CHANGELOG\.md|users.json|composer\.(json|lock|phar))(/|$) index.php
    # RewriteRule /pico /pico/index.php
    # Enable URL rewriting
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule .? index.php [L]
</IfModule>

# Prevent file browsing
Options -Indexes -MultiViews