<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(src|.vscode|node_modules|CHANGELOG\.md|composer\.(json|lock|phar))(/|$) index.php [L]
    # Enable URL rewriting
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
</IfModule>

# Prevent file browsing
Options -Indexes -MultiViews