{% extends 'base.twig' %}

{% block title%}Register{% endblock %}

{% block content %}
	<form name="login" method="POST" action="/register">
		<h1>Register</h1>
        {{ message }}
		<div>
			<input type="text" autofocus name="username" placeholder="Username">
		</div>
		<div>
			<input type="password" name="password" placeholder="Password">
		</div>
		<div>
			<input type="password" name="password2" placeholder="Repeat Password">
		</div>
		<button type="submit">Submit</button>
	</form>
{% endblock %}