<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<title>Page Title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		{% block css %}
			<link rel="stylesheet" href="/dist/style.css" type="text/css"/>
		{% endblock %}
		<meta name="description" content="Welcome to my personal Wiki"/>
	</head>
	<body>
		<main>
			<div id="nav-toggler" onclick="toggleMainNav()">
				<input type="checkbox" id="hamburg"/>
				<label for="hamburg" class="hamburg">
					<span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
				</label>
			</div>
			<nav id="site-nav" class="collapsed">
				<ul id="nav"> {% block nav %}{% endblock %}
					</ul>
					<details>
						<summary>{{ user['username'] }}</summary>
						<ul>
							<li>
								{% if user['username'] != 'Guest' %}
									<a href="/logout">Logout</a>
								{% else %}
									<a href="/login">Login</a>
								{% endif %}
							</li>
							{% if is_granted('Editor') %}
								<li>
									<a href="/admin">Admin</a>
								</li>
								<li>
									<a href="javascript:void(0)" onclick="reindex()">Reindex</a>
								</li>
							{% endif %}
						</ul>
					</details>
				</nav>

				<article>
					{% block content %}{% endblock %}
					<footer>
						{% block footer%}{% endblock %}
					</footer>
				</article>
				<nav id="page-menu" class="navbar">
					<ul></ul>
				</nav>
			</main>
			<script src="/dist/app.bundle.js"></script>
			{% block js %}{% endblock %}
		</body>
	</html>
