{% extends 'base.twig' %}

{% block content %}
	<div>
		<h1 class="js-article-title"></h1>
		<div id="article-content" data-spy="scroll" data-target="#page-menu" data-offset="0" class="loading"></div>
	</div>
{% endblock %}

{% block footer %}
	<a id="edit-link" href="javascript:void(0)">Edit Page</a>
{% endblock %}

{% block js %}
	<script src="/dist/frontend.bundle.js"></script>
{% endblock %}
