.nav {
    background-color: white;
    padding: 0 3rem 0 1rem;

    ul {
        list-style: none;
        padding: 10px 0 10px 1rem;
    }
     
    .nav-item {
        background-color: white;
        border: none;
        color: black;
        padding: 10px 20px 10px 5px;
        border-radius: 3px;
    }
    .nav-item-link {
        color: black;
        text-decoration: none;
    }
    .nav-item:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

#main-nav {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}
