@media screen and (min-width: 500px) {
    .wiki {
        display: flex;
    }
}

@media print {
    .main-content {
        width: 100vw !important;
    }

    .print-invisible {
        display: none !important;
    }

    .print-visible {
        display: block;
    }
}

@media screen {
    .print-visible {
        display: none;
    }
}