@media screen and (min-width: 500px) {
    .wiki {
        display: flex;
    }
}

@media print {
    body {
        font-size: 9pt;
    }

    img {
        width: unset;
        max-width: 100%;
    }

    .main-content {
        width: 100vw !important;
    }

    .print-invisible {
        display: none !important;
    }

    .print-visible {
        display: block;
    }
}

@media screen {
    .print-visible {
        display: none;
    }
}