{% extends 'admin/admin.twig' %}

{% block content %}
	<div>
		<h1>Add a new file</h1>
		<form method="POST" action="/admin/add">
			<input type="text" autofocus name="filename">
			<button type="submit">Submit</button>
		</form>
	</div>
{% endblock %}
