/* ------------------------------------------ Page Organisation -------------------------------------- */
*::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

header {
  display: none;
  box-shadow: 0 0 10px rgba(150, 150, 150, 0.24);
}

main {
  min-height: 100vh;
  display: flex;
  background-color: rgb(243, 243, 243);
}

article {
  width: 60%;
  margin: 0 auto;
  background-color: white;
  padding: 2em;
  box-shadow: 0 0 10px rgba(150, 150, 150, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  font-size: smaller;
  display: block;
  position: relative;
  bottom: 0;
}
footer * {
  -webkit-flex: 1 1 0%;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex: 1 1 0%;
}

/* ------------------------------------------ END Page Organisation --------------------------------- */

/* --------------------------- Text ---------------------------------------------------------- */

p {
  margin-bottom: 1em;
}
/** -------------------------- Titles ------------------------------------------------------------- **/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  line-height: 1.2em;
  margin-bottom: 0.6em;
}

h1 {
  font-size: 2em;
  margin-top: 0;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
  margin-top: 2em;
}

/** --------------------------- END Titles -------------------------------------------------------- **/

/** ----------------------------- Links ----------------------------------------------------------- **/

a {
  color: #00bb2f;
  text-decoration: underline;
}

a:visited {
  color: #00bb73;
}

/** ----------------------------- END Links ------------------------------------------------------- **/

/** ----------------------------- Other Text ------------------------------------------------------ **/
b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

abbr,
acronym {
  cursor: help;
  border-bottom: 0.1em dotted;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

code {
  font-family: Courier, "Courier New", Monaco, Tahoma;
  background: #eee;
  color: #333;
  padding: 0px 2px;
}

pre {
  background: #eee;
  padding: 20px;
  margin-bottom: 1em;
  overflow: auto;
}

blockquote {
  font-style: italic;
  margin: 0 0 1em 15px;
  padding-left: 10px;
  border-left: 5px solid #dddddd;
}

ol,
ul {
  padding-left: 30px;
  margin-bottom: 1em;
}

header {
  font-size: 7rem;
  font-weight: 500;
}

/** ----------------------------- END Other Text -------------------------------------------------- **/
/** ----------------------------- END Text -------------------------------------------------------- **/

/* -------------------------------- Loader ------------------------------------------------------------*/
.loader-wrapper {
  width: 100%;
  display: flex;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid red;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.9s linear infinite;
  margin: 0 auto;
}

/* -------------------------------- END Loader ------------------------------------------------------- */

/* ---------------------------------- Tables ----------------------------------------------------------*/
table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  border: 1px solid black;
  margin: 1em auto;
}

th, td {
  padding: 3px;
  vertical-align: top;
}

th {
  text-align: left;
  font-weight: bold;
  background: white;
  border-bottom: 1px solid black;
}

tr:nth-of-type(odd) td {
  background: rgb(236, 236, 236);
}

/* ----------------------------------- END Tables ----------------------------------------------------------*/

/* ---------------------------------------- Nav ----------------------------------------------------------------- */

nav {
  border-radius: 2px;
  height: 100%;
  width: 100%;
  overflow: auto;
}

nav#site-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: sticky;
  left: 0;
  top: 0;
  width: 20%;
  height: 100vh;
}

nav#page-menu {
  display: block;
  position: sticky;
  right: 0;
  top: 0;
  width: 20%;
  height: 100vh;
}

nav li {
  list-style-type: none;
  width: 100%;
  line-height: 1.5em;
}

nav a,
nav a:active {
  text-decoration: none;
  color: rgb(39, 39, 39) !important;
  width: calc(100% - 4px);
  display: block;
  padding: 5px 2px;
  border-radius: 1px;
}

nav a.active {
  font-weight: 900;
  color: #000;
}

nav a.active::before {
  display: inline-block;
  content: ">";
}

nav a:hover {
  background-color: rgb(231, 231, 231);
}

/* ---------------------------------- END Nav ----------------------------------------- */

/* ------------------------------- Responsive ---------------------------------------------*/
@media screen and (min-width: 501px) {
  #nav-toggler {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  article {
    width: 900px;
  }
}

@media screen and (max-width: 1000px){
  nav#page-menu {
    display: none;
  }

  nav#site-nav {
    width: 200px;
  }

  article {
    width: calc(100% - 200px);
  }


}

@media all and (max-width: 600px) {
  #nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 25px;
    z-index: 7;
  }
  nav {
    transition: max-height 0.5s ease;
    max-height: 100vh;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 6;
  }
  nav.collapsed {
    max-height: 0 !important;
  }
  nav {
    height: unset;
  }
  main {
    display: block;
  }

  article {
    width: 100%;
  }

  nav#page-menu {
    display: none;
  }

  nav#site-nav {
    width: 100%;
  }

  nav,
  nav ul,
  nav li {
    margin: 0;
    padding: 0;
    border: none;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  nav li {
    list-style-type: none;
    margin: 0 0px;
  }

  nav li.active {
    font-weight: bold;
  }
}
/* ------------------------------- END Responsive ------------------------------------------*/

/* ------------------------------- Animations ------------------------------------------*/

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ------------------------------- END Animations --------------------------------------*/

/* ------------------------------- Fonts --------------------------------------------*/
@font-face {
  font-family: "Roboto" sans-serif;
  src: url("/pico/themes/simple/assets/fonts/Roboto-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "RobotoLight" sans-serif;
  src: url("/pico/themes/simple/assets/fonts/Roboto-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "RobotoBold" sans-serif;
  src: url("/pico/themes/simple/assets/fonts/Roboto-Bold.ttf");
  font-display: swap;
}
/* ------------------------------- END Fonts ------------------------------------------*/

label.hamburg {
  display: block;
  background: white;
  width: 50px;
  height: 40px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.line {
  position: absolute;
  left: 4px;
  height: 3px;
  width: 35px;
  background: black;
  border-radius: 2px;
  display: block;
  transition: 0.5s;
  transform-origin: center;
}

.line:nth-child(1) {
  top: 12px;
}
.line:nth-child(2) {
  top: 20px;
}
.line:nth-child(3) {
  top: 28px;
}

#hamburg:checked + .hamburg .line:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
}

#hamburg:checked + .hamburg .line:nth-child(2) {
  opacity: 0;
}

#hamburg:checked + .hamburg .line:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
}

input#hamburg {
  display: none;
}
